<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %></h1>
    <p>
      You've just received an invitation to join the following classroom: <%= @classroom.title %>
    </p>
    <p>
      To accept the invitation just follow this link:  <%=link_to "Afficher l'invitation", controller: 'invitations', action: 'show',id: @invitation.id, classroom_id: @invitation.classroom.id, lesson_id: @invitation.classroom.lesson.id, user_id: @user.id %> .
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

#id: @invitation.id, classroom_id:@invitation.classroom.id, lesson_id:@invitation.classroom.lesson.id, user_id:@user.id)